/* Place your CSS styles in this file */
body {
    background-color: aquamarine;
}
h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    outline: auto;
}

.container {
    position: relative;
    max-width:192px;
    margin: 0;
}
.Continf {
    position: relative;
    max-width: 100px;
    margin: 0;
    left: 0;

}
.Continf .infcont {
    max-width: 80px;
    position: absolute;
    cursor: pointer;
    color: #d4a302;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.295);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(255, 0, 0), 0 0 5px rgb(0, 0, 255);
}
.container .content {
    position: absolute;
    bottom: 1%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 79%;
    padding: 20px;
    cursor: pointer;
}
#ppe {
    max-width: 100%;
    text-align: center;
    font-size: 150%;
    margin-top: -90px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    padding: 20px;
    
}
#reset {
    position: fixed;
    bottom: 0;
    right: 0;
}
#infinity {
    position: fixed;
    width: 100px;
    margin: auto;
    height: 100px;
    margin-right: auto;
    cursor: pointer;
    margin-top: auto;
}

#lipitys {
    margin-right: 0;

    width: 192px;
    height: 106px;
    cursor: pointer;
    outline: auto;
    outline-width: 8%;
}

#ED {
    cursor: pointer;
    width:132px;
    height:400px;
    display: block;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: greenyellow;

}